body {
    max-width: 500px;
    margin: 40px auto;
    background-color: #006db3;
}

.cell {
  display: inline-block;
  border: 2px solid #eee;
  height: 150px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  font-size: 130px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #eee;
  cursor: pointer;
}

.cell.wincombo {
  background: rgba(143, 15, 202, 0.637);
}

#grid div:first-child div {
  border-top: 0px;
  margin-bottom: 5px;
}

#grid div:last-child div {
  border-bottom: 0px;
  margin-top: 5px;
}

#grid div div:first-child {
  border-left: 0px;
}

#grid div div:last-child {
  border-right: 0px;
}

#startButton {
  position: relative;
  display: block;
  margin-top: 50px;
  margin-left: 130px;
  padding: 10px 30px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 18px;
  background-color: #fff;
  color: #006db3;
  transition: 0.4s all;

}

#startButton:hover {
  background-color: rgba(0, 122, 179, 0.75);
  color: #fff;
  cursor: pointer;
}

#gameFinished {
  height: 280px;
  width: 400px;
  position:fixed;
  display: none;
  z-index: 2;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.473);
  border-radius: 10px;
  margin-left:-210px;
  margin-top:-200px
}

#text {
  color: #006db3;
  font-size: 60px;
  position: relative;
  margin: 60px auto;
  width: 100%;
  display: block;
  text-align: center;
}